.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
.turbo/

# Copyrighted audio for the local Music Player app - never published
quartz/static/music/*.mp3
